body{
background-color:rgb(66, 59, 59);
}

a{
   font-family: cursive;
   color: rgb(224, 13, 243);
	background-color:black;
}
h1{
    background-color: rgb(224, 13, 243);
	font-family: cursive;
}
h2{
    background-color: rgb(224, 13, 243);
	font-family: cursive;
}